
<div style="margin-left:0;">
        <br><br>
<div class="container">
<div class="col">
    <div class="col col-sm-2 col-md-4">
        <div id="divWeatherMain">
        <div class="weatherWidgetcol cloudDiv">
            <img src="http://openweathermap.org/img/wn/{{WeatherData.weather[0].icon}}@2x.png" alt="">
        </div>
        <div class="weatherWidgetcol" style="font-size: 25px; ">{{WeatherData.temp_celcius}}°</div>
        <div class="weatherWidgetcol" style="font-size: 12px;">{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>
        <div class="weatherWidgetcol" style="font-size: 12px;">Feels Like: {{WeatherData.temp_feels_like}}°</div>
        <div class="weatherWidgetcol" style="font-size: 20px;">{{WeatherData.name}}</div>
    </div>
    </div>
    <div class="col col-sm-1 col-md-4">
            <div id="divWeatherMain">
            <div class="weatherWidgetcol cloudDiv">
                <img src="http://openweathermap.org/img/wn/{{WeatherData1.weather[0].icon}}@2x.png" alt="">
            </div>
            <div class="weatherWidgetcol" style="font-size: 32px;">{{WeatherData1.temp_celcius}}°</div>
            <div class="weatherWidgetcol" style="font-size: 12px;">{{WeatherData1.temp_min}}° / {{WeatherData1.temp_max}}°</div>
            <div class="weatherWidgetcol" style="font-size: 12px;">Feels Like: {{WeatherData1.temp_feels_like}}°</div>
            <div class="weatherWidgetcol" style="font-size: 25px;">{{WeatherData1.name}}</div>

    </div>
    </div>
    <div class="col">
        <div id="divWeatherMain">
            <div class="weatherWidgetcol cloudDiv">
                <img src="http://openweathermap.org/img/wn/{{WeatherData2.weather[0].icon}}@2x.png" alt="">
            </div>
            <div class="weatherWidgetcol" style="font-size: 32px;">{{WeatherData2.temp_celcius}}°</div>
            <div class="weatherWidgetcol" style="font-size: 12px;">{{WeatherData2.temp_min}}° / {{WeatherData2.temp_max}}°</div>
            <div class="weatherWidgetcol" style="font-size: 12px;">Feels Like: {{WeatherData2.temp_feels_like}}°</div>
            <div class="weatherWidgetcol" style="font-size: 25px;">{{WeatherData2.name}}</div>

        </div>
    </div>
    <br>
    <div class="col">
    <div class="col col-sm-2 col-md-4 ">
        <div id="divWeatherMain">
            <div class="weatherWidgetcol cloudDiv">
                <img src="http://openweathermap.org/img/wn/{{WeatherData3.weather[0].icon}}@2x.png" alt="">
            </div>
            <div class="weatherWidgetcol" style="font-size: 32px;">{{WeatherData3.temp_celcius}}°</div>
            <div class="weatherWidgetcol" style="font-size: 12px;">{{WeatherData3.temp_min}}° / {{WeatherData3.temp_max}}°</div>
            <div class="weatherWidgetcol" style="font-size: 12px;">Feels Like: {{WeatherData3.temp_feels_like}}°</div>
            <div class="weatherWidgetcol" style="font-size: 25px;">{{WeatherData3.name}}</div>

        </div>
    </div>
    <div class="col col-sm-3 col-md-4 ">
        <div id="divWeatherMain">
            <div class="weatherWidgetcol cloudDiv">
                <img src="http://openweathermap.org/img/wn/{{WeatherData4.weather[0].icon}}@2x.png" alt="">
            </div>
            <div class="weatherWidgetcol" style="font-size: 32px;">{{WeatherData4.temp_celcius}}°</div>
            <div class="weatherWidgetcol" style="font-size: 12px;">{{WeatherData4.temp_min}}° / {{WeatherData4.temp_max}}°</div>
            <div class="weatherWidgetcol" style="font-size: 12px;">Feels Like: {{WeatherData4.temp_feels_like}}°</div>
            <div class="weatherWidgetcol" style="font-size: 25px;">{{WeatherData4.name}}</div>

        </div>
    </div>
    <div class="col">
        <div id="divWeatherMain">
            <div class="weatherWidgetcol cloudDiv">
                <img src="http://openweathermap.org/img/wn/{{WeatherData4.weather[0].icon}}@2x.png" alt="">
            </div>
            <div class="weatherWidgetcol" style="font-size: 32px;">{{WeatherData5.temp_celcius}}°</div>
            <div class="weatherWidgetcol" style="font-size: 12px;">{{WeatherData5.temp_min}}° / {{WeatherData5.temp_max}}°</div>
            <div class="weatherWidgetcol" style="font-size: 12px;">Feels Like: {{WeatherData5.temp_feels_like}}°</div>
            <div class="weatherWidgetcol" style="font-size: 25px;">{{WeatherData5.name}}</div>
        </div>
    </div>
</div>

</div>
