<link href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" rel="stylesheet"/>
   <script src="https://unpkg.com/grapesjs"></script>
<!-- <script src="/dist/grapesjs-blocks-basic.min.js"></script> -->
<link
  href="https://unpkg.com/grapesjs/dist/css/grapes.min.css"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:wght@300&display=swap" rel="stylesheet">
<script src="https://unpkg.com/grapesjs"></script>


<script src="/src/assets/grapesjs-preset-webpage.min.js"></script>

<div id="gjs"></div>

<div class="blocks"></div>

